path {
    pointer-events: all;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }

  .map-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, 50%);
  }