#logo {
  position: fixed;
  top: 0px;
  left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed; /* positioning navbar */
  top: 100px;
  left: 300px;
  right: 0;
}

li {
  float: left;
}

a {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* pink background for 'Purpose' explanation */

.background-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -180%);
  width: 1000px;
  height: 200px;
  background: #FFF5F4;
  border-radius: 174px;
  z-index: -1;
}

.textbox-container {
  position: absolute;
  top: 20%; 
  left: 50%;
  transform: translateX(-50%);
  width: 80%; 
  max-width: 600px; 
}

.textbox-container textarea {
  width: 400%;
  height: 600px;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  resize: none;
  font-family: Arian, sans-serif;
  color: black;
}

.editable-text {
  font-size: 18px; 
}

.bold {
  font-weight: bold;
}
