#logo {
  position: fixed;
  top: 0px;
  left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed; /* positioning navbar */
  top: 100px;
  left: 300px;
  right: 0;
}

li {
  float: left;
}

a {
  display: flex;
  align-items: center;
  padding: 10px;
}
