.pin-container {
  position: fixed;
  top: 90%;
  right: 160px;
  transform: translateY(-50%);
  position: "absolute";
}

.pin-icon {
  color: red;
}

.textbox-container {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.textbox-background {
  background-color: rgb(235, 211, 211);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  height: 200px;
}

.textbox-content {
  color: black;
}

.exitButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
